In [1]:
import pandas as pd
import seaborn as sns
import os
import numpy as np
import matplotlib.pyplot as plt

In [25]:
#Importing Data from local file and creating DataFrame, save DataFrame as object,df.

pd.read_csv("../../../Data/Raw/impacts.csv")
df=pd.read_csv("../../../Data/Raw/impacts.csv")

In [26]:
df

,Object Name,Period Start,Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity,Asteroid Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0
...,...,...,...,...,...,...,...,...,...,...,...
678,2014 KW76,2115,2115,1,2.800000e-07,15.00,28.0,0.008,-8.22,-8.22,0
679,2012 FN,2115,2115,1,2.300000e-08,3.27,29.2,0.005,-10.18,-10.20,0
680,101955 Bennu (1999 RQ36),2175,2199,78,3.700000e-04,5.99,20.2,0.490,-1.71,-2.32,(*)
681,410777 (2009 FD),2185,2198,7,1.600000e-03,15.87,22.1,0.160,-1.78,-1.83,(*)
682,29075 (1950 DA),2880,2880,1,1.200000e-04,14.10,17.6,1.300,-1.42,-1.42,(*)

In [7]:
#Checking details of Dataset, using shape command to see row details

In [13]:
df.shape

(683, 11)

In [27]:
df.columns

Index(['Object Name', 'Period Start', 'Period End', 'Possible Impacts',
       'Cumulative Impact Probability', 'Asteroid Velocity',
       'Asteroid Magnitude', 'Asteroid Diameter (km)',
       'Cumulative Palermo Scale', 'Maximum Palermo Scale',
       'Maximum Torino Scale'],
      dtype='object')

In [32]:
new_names= {"Object Name": "Asteroid Name",
           "Period Start": "Risk Period Start", 
           "Period End": "Risk Period End",
           "Asteroid Velocity": "Asteroid Velocity (Km/s)",
           "Asteroid Magnitude": "Asteroid Apparent Magnitude"}

In [83]:
df.rename(columns=new_names, inplace=True)

In [34]:
df.columns

Index(['Asteroid Name', 'Risk Period Start', 'Risk Period End',
       'Possible Impacts', 'Cumulative Impact Probability',
       'Asteroid Velocity (Km/s)', 'Asteroid Apparent Magnitude',
       'Asteroid Diameter (km)', 'Cumulative Palermo Scale',
       'Maximum Palermo Scale', 'Maximum Torino Scale'],
      dtype='object')

In [35]:
df.drop("Maximum Torino Scale", inplace=True, axis=1)

In [36]:
df.columns

Index(['Asteroid Name', 'Risk Period Start', 'Risk Period End',
       'Possible Impacts', 'Cumulative Impact Probability',
       'Asteroid Velocity (Km/s)', 'Asteroid Apparent Magnitude',
       'Asteroid Diameter (km)', 'Cumulative Palermo Scale',
       'Maximum Palermo Scale'],
      dtype='object')

In [84]:
df.head()

,Asteroid Name,Risk Period Start,Risk Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity (Km/s),Asteroid Apparent Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0

In [38]:
#Checking for duplicate data

df["Asteroid Name"].is_unique

True

In [39]:
#No Duplicate Asteroids in Data, Setting Index to Asteroid Name Column 

df=df.set_index("Asteroid Name")

In [82]:
df.head()

,Object Name,Period Start,Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity,Asteroid Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0

In [41]:
df.shape

(683, 9)

In [60]:
df.dtypes.value_counts()

float64    6
int64      3
dtype: int64

In [81]:
df

,Object Name,Period Start,Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity,Asteroid Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0
...,...,...,...,...,...,...,...,...,...,...,...
678,2014 KW76,2115,2115,1,2.800000e-07,15.00,28.0,0.008,-8.22,-8.22,0
679,2012 FN,2115,2115,1,2.300000e-08,3.27,29.2,0.005,-10.18,-10.20,0
680,101955 Bennu (1999 RQ36),2175,2199,78,3.700000e-04,5.99,20.2,0.490,-1.71,-2.32,(*)
681,410777 (2009 FD),2185,2198,7,1.600000e-03,15.87,22.1,0.160,-1.78,-1.83,(*)
682,29075 (1950 DA),2880,2880,1,1.200000e-04,14.10,17.6,1.300,-1.42,-1.42,(*)

In [86]:
df.head()

,Asteroid Name,Risk Period Start,Risk Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity (Km/s),Asteroid Apparent Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0

In [108]:
df = (pd.read_csv("../../../Data/Raw/impacts.csv")
    .rename(columns= {"Object Name": "Asteroid Name",
           "Period Start": "Risk Period Start", 
           "Period End": "Risk Period End",
           "Asteroid Velocity": "Asteroid Velocity (Km/s)",
           "Asteroid Magnitude": "Asteroid Apparent Magnitude"})
      .drop(['Maximum Torino Scale'], axis=1)
      .loc[0:648]
      .set_index("Asteroid Name")
      .sort_values(by='Risk Period Start',ascending=True)
     )
df

,Risk Period Start,Risk Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity (Km/s),Asteroid Apparent Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale
Asteroid Name,,,,,,,,,
2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31
2008 EK68,2017,2115,315,5.000000e-06,7.43,29.8,0.004,-7.60,-8.87
2012 BP123,2017,2115,228,5.900000e-07,4.60,27.1,0.013,-7.24,-8.11
2015 HW182,2017,2115,174,5.700000e-08,10.76,25.2,0.031,-6.69,-7.17
2010 WW8,2017,2114,92,5.700000e-07,4.45,26.9,0.015,-7.02,-7.73
...,...,...,...,...,...,...,...,...,...
2015 FC345,2109,2109,1,6.200000e-07,6.76,27.8,0.009,-7.96,-7.96
2014 QJ365,2109,2109,1,5.800000e-08,12.19,27.4,0.011,-8.68,-8.68
2016 AU193,2109,2109,1,3.100000e-07,21.77,25.3,0.030,-6.63,-6.63
2008 OO8,2109,2109,1,6.300000e-08,8.31,25.2,0.031,-7.69,-7.69
2014 OQ392,2109,2109,1,1.200000e-10,11.89,22.8,0.093,-9.12,-9.12

In [8]:
def load_and_process(project_function):
                     
    # Method Chain 1 (Load Data, Rename Columns, Drop Unused Column)

    df = (pd.read_csv("../../../Data/Raw/impacts.csv")
           .rename(columns= {"Object Name": "Asteroid Name",
           "Period Start": "Risk Period Start", 
           "Period End": "Risk Period End",
           "Asteroid Velocity": "Asteroid Velocity (Km/s)",
           "Asteroid Magnitude": "Asteroid Apparent Magnitude"})
           .drop(['maximum Torino Scale'], axis=1)
     )
    
    # Method Chain 2 (Sort Values, Index Asteroid Name, Retrieve rows from index)
                     
    df = (
           df
          .sort_values(by='Risk Period Start', ascending=True)
          .loc[0:648]
    )
    return df

In [11]:
import pandas as pd

In [17]:
impacts=pd.DataFrame((list)'impacts.csv')

SyntaxError: invalid syntax (Temp/ipykernel_23400/4225308237.py, line 1)

In [15]:
"collection[Any]"

'collection[Any]'

In [49]:
df=pd.DataFrame(["../impacts.csv"])

In [58]:
def load_and_process(df):
                     
    # Method Chain 1 (Load Data, Rename Columns, Drop Unused Column)

    df = (pd.read_csv("impacts.csv")
           .rename(columns= {"Object Name": "Asteroid Name",
           "Period Start": "Risk Period Start", 
           "Period End": "Risk Period End",
           "Asteroid Velocity": "Asteroid Velocity (Km/s)",
           "Asteroid Magnitude": "Asteroid Apparent Magnitude"})
           .drop('Maximum Torino Scale', axis=1)
     )
    
    # Method Chain 2 (Sort Values, Index Asteroid Name, Retrieve rows from index)
                     
    df = (
           df
          .sort_values(by='Risk Period Start', ascending=True)
          .loc[0:648]
    )
    return df

In [59]:
type(load_and_process(df))

pandas.core.frame.DataFrame

In [26]:
pwd

'C:\\Users\\Leah\\Data 301\\Group 43\\Group-43-project\\analysis\\LeahPlomp\\Milestone2Task1'

In [27]:
cd ..

C:\Users\Leah\Data 301\Group 43\Group-43-project\analysis\LeahPlomp

In [29]:
impacts=pd.read_csv("impacts.csv")

In [30]:
type(impacts)

pandas.core.frame.DataFrame

In [32]:
impacts.head()

,Object Name,Period Start,Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity,Asteroid Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0

In [43]:
def load_and_process("impacts.csv"):
                     
    # Method Chain 1 (Load Data, Rename Columns, Drop Unused Column)

    impacts = (pd.read_csv("impacts.csv")
           .rename(columns= {"Object Name": "Asteroid Name",
           "Period Start": "Risk Period Start", 
           "Period End": "Risk Period End",
           "Asteroid Velocity": "Asteroid Velocity (Km/s)",
           "Asteroid Magnitude": "Asteroid Apparent Magnitude"})
           .drop(['Maximum Torino Scale'], axis=1)
     )
    
    # Method Chain 2 (Sort Values, Index Asteroid Name, Retrieve rows from index)
                     
    impacts = (
           impacts
          .sort_values(by='Risk Period Start', ascending=True)
          .loc[0:648]
    )

SyntaxError: invalid syntax (Temp/ipykernel_23400/3720535040.py, line 1)

AttributeError: 'builtin_function_or_method' object has no attribute 'impacts'

In [41]:
type(impacts)

pandas.core.frame.DataFrame

In [44]:
impacts

,Object Name,Period Start,Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity,Asteroid Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0
...,...,...,...,...,...,...,...,...,...,...,...
678,2014 KW76,2115,2115,1,2.800000e-07,15.00,28.0,0.008,-8.22,-8.22,0
679,2012 FN,2115,2115,1,2.300000e-08,3.27,29.2,0.005,-10.18,-10.20,0
680,101955 Bennu (1999 RQ36),2175,2199,78,3.700000e-04,5.99,20.2,0.490,-1.71,-2.32,(*)
681,410777 (2009 FD),2185,2198,7,1.600000e-03,15.87,22.1,0.160,-1.78,-1.83,(*)
682,29075 (1950 DA),2880,2880,1,1.200000e-04,14.10,17.6,1.300,-1.42,-1.42,(*)

In [60]:
type(load_and_process(impacts))

pandas.core.frame.DataFrame

In [65]:
load_and_process(impacts)

,Asteroid Name,Risk Period Start,Risk Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity (Km/s),Asteroid Apparent Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31
25,2008 EK68,2017,2115,315,5.000000e-06,7.43,29.8,0.004,-7.60,-8.87
24,2012 BP123,2017,2115,228,5.900000e-07,4.60,27.1,0.013,-7.24,-8.11
23,2015 HW182,2017,2115,174,5.700000e-08,10.76,25.2,0.031,-6.69,-7.17
21,2010 WW8,2017,2114,92,5.700000e-07,4.45,26.9,0.015,-7.02,-7.73
...,...,...,...,...,...,...,...,...,...,...
644,2016 AU193,2109,2109,1,3.100000e-07,21.77,25.3,0.030,-6.63,-6.63
645,2008 OO8,2109,2109,1,6.300000e-08,8.31,25.2,0.031,-7.69,-7.69
646,2015 FC345,2109,2109,1,6.200000e-07,6.76,27.8,0.009,-7.96,-7.96
647,2014 QJ365,2109,2109,1,5.800000e-08,12.19,27.4,0.011,-8.68,-8.68
648,2014 OQ392,2109,2109,1,1.200000e-10,11.89,22.8,0.093,-9.12,-9.12

In [80]:
import sys
sys.path.append('..')

from scripts import project_functions
impacts = project_functions.load_and_process(impacts)

FileNotFoundError: [Errno 2] No such file or directory: 'impacts.csv'

In [71]:
impacts