In [6]:
import pandas as pd
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt



impacts = pd.read_csv('../../data/raw/impacts.csv')
impacts

,Object Name,Period Start,Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity,Asteroid Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0
...,...,...,...,...,...,...,...,...,...,...,...
678,2014 KW76,2115,2115,1,2.800000e-07,15.00,28.0,0.008,-8.22,-8.22,0
679,2012 FN,2115,2115,1,2.300000e-08,3.27,29.2,0.005,-10.18,-10.20,0
680,101955 Bennu (1999 RQ36),2175,2199,78,3.700000e-04,5.99,20.2,0.490,-1.71,-2.32,(*)
681,410777 (2009 FD),2185,2198,7,1.600000e-03,15.87,22.1,0.160,-1.78,-1.83,(*)
682,29075 (1950 DA),2880,2880,1,1.200000e-04,14.10,17.6,1.300,-1.42,-1.42,(*)